#edit-activism-signup-first-name-wrapper,
#edit-activism-signup-last-name-wrapper {
  float:          left;
  margin-bottom:  0.2em;
  margin-right:   1em;
  margin-top:     0.2em;
}

#edit-activism-signup-first-name-wrapper input,
#edit-activism-signup-last-name-wrapper input {
  width:          212px;
}

.activism-campaign-counts {
  border:         1px solid #ddd;
  float:          right;
  font-size:      1.2em;
  margin:         1em;
  padding:        1em;
}

.activism-campaign-counts-total {
  font-weight:    bold;
}