.panels-flexible-region {
  padding: 0;
}

.panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-column {
  padding: 0;
}

.panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-26-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-26-inside {
  padding-right: 0px;
}

.panels-flexible-26 {
  width: auto;
}

.panels-flexible-region-26-senate_blog {
  float: left;
  width: 49.5000%;
}

.panels-flexible-region-26-front_top_right {
  float: left;
  width: 49.5000%;
}

.panels-flexible-row-26-main-row-inside {
  padding-right: 0px;
}

